[Unit]
Description=Turn smart plug on
After=default.target sleep.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/env sh -c 'until ping -c1 example.com; do sleep 1; done;'
ExecStart=/opt/speaker/speakerctl on

[Install]
WantedBy=default.target sleep.target
