# Ideally I would have final.target depend on this service, the way sleep.target
# does, so the speakers turn off before the computer turns off. However, this won't
# work because NetworkManager shuts off first after receiving a dbus message, not
# sent by systemd, so by the time my service runs the network is off. Instead, I
# made a pre-down script for NetworkManager that turns the speakers off,
# turn-off-speakers.bash.

[Unit]
Description=Turn smart plug off
Before=sleep.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/speaker/speakerctl off

[Install]
WantedBy=sleep.target
