[Unit]
Description=Speakers
Conflicts=sleep.target
Before=sleep.target
# Since systemd shuts down services in the reverse order that they were started
# up. By ordering this service after network.target, we're guaranteed that this
# service is shut down before the network is shut down.
#
# While the above should be true, the network manager on my machine,
# NetworkManager, isn't actually being turned off through systemd so a
# workaround is needed. See speakers.nix for details.
Wants=network.target
After=network.target

[Service]
Type=oneshot
# Allow multiple discovery attempts to account for network unavailability. For
# example, when the machine first starts up, or wakes from sleep, the network
# may not be online yet. Ordering this service after network-online.target would
# help with the startup case, but not wake. systemd gives more reasons to not
# rely on network-online[1]. I chose 36 because the timeout for discovery is 5
# seconds so 5 seconds * 36 = 180 seconds i.e. 3 minutes to attempt to connect.
#
# [1]: https://systemd.io/NETWORK_ONLINE/
ExecStart=/opt/speaker/speakerctl --attempts 36 on
RemainAfterExit=yes
ExecStop=/opt/speaker/speakerctl off

[Install]
WantedBy=multi-user.target wake.target
