# Setting a root lets EditorConfig know that this is the top-most config
# file. Otherwise, it would continue to search more parent directories.
root = true

# We use editorconfig-checker to ensure that all files adhere to the settings in
# this config. We only configure the options below since failure to adhere to them
# could cause bugs. The other options that editorconfig supports can be handled by formatters.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# These are read by `shfmt`
[*.{sh,bash}]
simplify = true
switch_case_indent = true
