# Setting a root lets EditorConfig know that this is the top-most config
# file. Otherwise, it would continue to search more parent directories.
root = true

# We don't set any other editorconfig options since IDEs can automatically
# determine them based on how existing files in the project are formatted.
[*]
insert_final_newline = true
# Another reason we set this is so `editorconfig-checker` can verify that all
# files use this charset.
charset = utf-8

# These are read by `shfmt`
[*.{sh,bash}]
simplify = true
switch_case_indent = true
