# Setting a root lets EditorConfig know that this is the top-most config
# file. Otherwise, it would continue to search more parent directories.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{fish,py}]
indent_size = 4

[{go.{mod,sum},*.go}]
indent_style = tab

[*.md]
indent_size = unset

# These files were generated or copied so need to enforce a certain style
[{*.{plist,keylayout},COPYING.txt}]
insert_final_newline = unset
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
