# shellcheck shell=bash

# Dependencies
#
# WARNING: Renovate uses a regular expression to find these dependencies
# and update them. To ensure the regular expression find a match, the lines
# declaring the dependencies should not be changed in any way. For example,
# splitting the command to multiple lines using '\'.
source_url 'https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc' 'sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w='

function main {
  # shellcheck disable=1090
  source "./.envs/${ENV_NAME:-local}.bash"
}

function create_symlink_to_path_in_environment_variable {
  # The empty check is necessary because:
  # - If you add an env variable to be linked and haven't run `just
  # sync-nix-direnv`, direnv will fail.
  # - If you pull and a new variable is added it won't be there till you sync.
  # - If you just cloned repo it won't be there till you sync.
  # - If you checkout a commit and you don't have env var it fails.
  if [ -n "${!1:-}" ]; then
    if [ -L "$2" ]; then
      rm "$2"
    fi
    ln --symbolic "${!1}" "$2"
  fi
}

main
