# shellcheck shell=bash

# This script sets up the local development or CI environment.
#
# Environment Variables
#   DEV_SHELL:
#     The name of the flake dev shell to load. The default value is "local".
#   CI:
#     When set to "true", the environment will be set up for CI. Otherwise, the local
#     development environment will be set up.

function main {
  dotenv_if_exists secrets.env
  set_up_nix
  # Sets GOPATH and GOBIN and adds GOBIN to the PATH
  layout go

  if ! is_first_direnv_load; then
    log_reminder_to_reload_direnv_in_editor
  fi
}

function set_up_nix {
  set_nix_config
  load_dev_shell
}

function set_nix_config {
  nix_config_directory="${PWD}/nix/config"

  include_nix_config_file "${nix_config_directory}/common.conf"
  if is_setting_up_ci_environment; then
    include_nix_config_file "${nix_config_directory}/ci.conf"
  fi
}

function include_nix_config_file {
  local -r config_file="$1"
  export NIX_CONFIG+=$'\n'"include $config_file"
}

function load_dev_shell {
  source_url \
    'https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc' \
    'sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM='

  if is_setting_up_local_environment; then
    # Reloads are pretty slow (~30 seconds) so I want to control when they happen.
    nix_direnv_manual_reload
  fi

  use flake ".#${DEV_SHELL:-local}"
}

function log_reminder_to_reload_direnv_in_editor {
  log_status '[tip] Remember to reload direnv inside your editor as well.'
}

function is_first_direnv_load {
  # This variable gets set by direnv so it won't be set on the first load.
  [[ -z ${DIRENV_DIFF+set} ]]
}

function is_setting_up_ci_environment {
  # Most CI systems, e.g. GitHub Actions, set this variable to 'true'.
  [[ ${CI:-} == 'true' ]]
}

function is_setting_up_local_environment {
  ! is_setting_up_ci_environment
}

main
