[settings]
# This avoids a dependency on /usr/bin/env which would have been used in a shebang
use_file_shell_for_executable_tasks = true
unix_default_file_shell_args = "cached-nix-shell"
quiet = true
# Some tasks, like debug:build and debug:shell, need stdin/stdout/stderr since they
# prompt the user or launch an interactive shell.
raw = true

[task_config]
# Tasks are run relative to the location of this file. Since I want them to run in
# the project root, I have to move up one directory.
dir = ".."
