# This is the recommended way to run code after the system wakes[1].
#
# [1]: https://www.freedesktop.org/software/systemd/man/latest/systemd.special.html#sleep.target

[Unit]
Description=Starts the wake target
DefaultDependencies=no
StopWhenUnneeded=yes

[Service]
Type=oneshot
# Since we have no `ExecStart`, we must set this.
RemainAfterExit=yes
ExecStop=/usr/bin/env systemctl start wake.target

[Install]
# SYNC: start-wake-target-wanted-by
WantedBy=sleep.target
